.speak {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: center;
  margin: 10px;
}

.stop[_ngcontent-c2] {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #F04662;
  border: 2px solid #F04662;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: center;
}


.text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.languagepicker {
	background-color: #FFF;
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0 50px 10px 0;
	vertical-align: top;
	float: left;
}


.languagepicker option{
	color: #000;
	text-decoration: none;
}

.languagepicker option {
	display: block;
	padding: 0px 20px;
	line-height: 40px;
	border-top: 1px solid #EEE;
}

.languagepicker option:hover{
	background-color: #a3d063;
}

.languagepicker a:first-child option {
	border: none;
	background: #a3d063 !important;
}


.roundborders {
	border-radius: 5px;
}