<!-- attach listener to the component, check docs for all events  --> 
<div class="speak" (click)="translateEnglish()">
    <div class="icon"></div>
    <div class="text">Speak</div>
</div>

<div class="speak" (click)="translateSpeaker()">
    <div class="icon"></div>
    <div class="text">Listen</div>
</div>


<select (input)="onLangChange()" id="lang" class="languagepicker roundborders"  >
    <option value="fr"><img src="http://i65.tinypic.com/300b30k.png"/>Français</option>
    <option value="es"><img src="http://i68.tinypic.com/avo5ky.png"/>Español</option>
    <!--<option value="zh"><img src="http://i68.tinypic.com/avo5ky.png"/>中文</option>-->
</select>


