<div class="chat_window">
            <div class="top_menu">
                <div class="title"></div>
            </div>
            <ul id="message_board" class="messages">
        
              <li class='message right appeared'> <div class='avatar'></div> <div class='text_wrapper'> <div class='text'> My Message </div> </div> </li>
              <li class='message left appeared'> <div class='avatar'></div> <div class='text_wrapper'> <div class='text'> My Message </div> </div> </li>


               <!-- <li class="message">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text">Hi there</div>
                    </div>
                </li>
                -->
            </ul>
                       
            <div class="bottom_wrapper clearfix">
                <app-speak></app-speak>
            </div>
        
        </div>